body {
    background: rgba(0, 0, 0, 1);
}

.h1 {
    padding: 30px 0;
}
.container {
    background: rebeccapurple;
}
#search-term {
    float:left;
    width: 93.5%;
}
#run-search {
    width: 5%;
    margin: 0 0 0 1.5%;
    font-weight: bold;
    background: purple;
}

.btn-container {
    background: rgba(13, 130, 197, 0.74);
    /* padding: 5px; */
    width: 100%;
}
.giphy-btn {
    width: 96%;
    height: 200px;
    overflow: hidden;
    margin: 2%;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 2.5em;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
}

.giphy-img-tab {
    display: inline-block;
    text-align: center;
}
.giphy-img-area {
    background: rgb(170, 211, 169);
}

.fav-img-area {
    padding: 30px 0;
    background: rgb(231, 216, 178);
}

/* this width does not change */
.giphy-container {
    position: relative;
    overflow: hidden;
}

.giphy-container img {
    margin: 1%;
    width: 98%;
    height: 98%;
    /* max-height: 98%; */
}

/* .giphy-container img {
    position: absolute;
    width: 100%;    

    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */
.giphy-rating {
    position: absolute;
    top:2%;
    left: 4%;
    z-index: 50;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    font-weight: bold;
    font-size: 2em;
}
.giphy-rating:hover {
    color: rgba(4, 138, 247, 0.9);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
}

.giphy-favorite {
    position: absolute;
    top:2%;
    right: 3%;
    z-index: 50;
    background: rgba(255,255,255,0);
    border-style: none;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px red;
    font-weight: bold;
    font-size: 3em;
}

.giphy-download {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 50;
}

/* cannot get media query to work */
/* @media only screen and (min-width : 500px) {


} */
